.nav{
    grid-area: n;
    border-right: 4px solid #d5d5d5;
    min-height: 100vh;
    padding-top: 15px;
}
.item{
    margin: 0 0 10px 20px;
}
.border{
    border-top: 3px solid #d5d5d5;
    margin: 15px 5px 20px 10px;
}
.item a{
    color: #4C75A3;
    text-decoration: none;
    font-weight: 500;
}
.item a.active{
    color: #3b6c96;
    font-weight: 700;
}