.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItem{
    margin: 20px;
}
.dialog{
    margin: 10px;
}
.dialog a{
    color: #414141;
    text-decoration: none;
    font-weight: 500;
}
.dialog a.active{
    color: #4C75A3;
    font-weight: bold;
}
.messages{
    margin: 20px;
}
.message{
    margin: 5px;
}